body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.897);
    border-color: darkgray;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px solid darkgray;
    width: 700px;
    height: 700px;
}

.rowbox {
    display: flex;
    flex-grow: 1;
}

.columnbox {
    background-color: rgb(250, 244, 236);
    border: 1px solid lightgray;
    flex-grow: 1;
    opacity: 1;
}